:root {
  --header-height: 1.6rem;
  --footer-height: 1.6rem;
  --app-color: #ff6200;
	--light-font: white;
  --light-grey-bg: rgb(240, 240, 240);
}

body {
  margin: 0;
}

html {font: 16px helvetica, arial, sans serif;}

main {
  margin: 0 10% auto;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.app-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.5rem;
  height: var(--header-height);
  background-color: var(--app-color);
  color: var(--light-font);
  padding-left: 10%;
}

.app-logo {
  cursor: pointer;
  font-weight: 600;
}

.app-footer {
	display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.5rem;
  position: sticky;
  bottom: 0;
  height: var(--footer-height);
  background-color: var(--light-grey-bg);
  padding-left: 10%;
}


h1 {
	color: var(--app-color);
}

.viewTable {
  overflow-x: scroll;
}

table {
    width: 1200px;
	display: inline-block;
}

td {
	padding: 2px;
}

/*TrainingInput style*/
.form {
  width: 1200px;
  background: #e1e1e1;
}

.form-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  font-size: 1rem;
  padding: 1rem;
}

.form-container div {
  width: 25%;
  padding: 1rem;
}

.form-container div label {
  display: block;
}
