:root {
  --header-height: 1.6rem;
  --footer-height: 1.6rem;
  /*--app-color: #ff6200;*/
  --app-color: #2fa65a;
  --app-border-radius: 3px;
	--light-font: white;
  --light-grey-bg: rgb(240, 240, 240);
}

body {
  margin: 0;
}

button { /* reset */
  color: inherit;
  font: inherit;
  background-color: inherit;
  border: unset;
}

html {font: 16px helvetica, arial, sans serif;}

main {
  margin: 0 0 auto 10%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  /*overflow-x: hidden;*/
}

.app-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.5rem;
  height: var(--header-height);
  background-color: var(--app-color);
  color: var(--light-font);
  padding-left: 10%;
  z-index: 9999;   /*из-за карты и графика*/
}

.app-logo {
  cursor: pointer;
  font-weight: 600;
}

.app-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap : 1rem;
  flex-grow: 1;
}

.app-nav-item {
  cursor: pointer;
  padding: 0.15rem;
  border-radius: var(--app-border-radius);
}

.app-nav-item:hover,
.app-nav-item-selected,
.app-nav-item:focus {
  background-color: var(--light-grey-bg);
  color: var(--app-color);
}

.app-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.5rem;
  position: sticky;
  bottom: 0;
  height: var(--footer-height);
  background-color: var(--light-grey-bg);
  padding-left: 10%;
  z-index: 9999;
}

.button {
  cursor: pointer;
  background-color: var(--app-color);
  color: var(--light-font);
  padding: 0.3rem;
  border-radius: var(--app-border-radius);
}

.button:hover,
.button:focus {
  filter: brightness(93%);
}
.button:active {
  filter: brightness(97%);
}


h1 {
	color: var(--app-color);
}

.viewTable {
  overflow-x: scroll;
}

table {
  width: 1200px;
	display: inline-block;
}

td {
	padding: 2px;
}

/*TrainingInput style*/
.form {
  max-width: 1200px;
  background: #e1e1e1;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  font-size: 1rem;
  padding: 1rem;
}

.form-container div {
  width: 25%;
  padding: 1rem;
}

.form-container div label {
  display: block;
}

/*стили экрана просмотра тренировки*/

#startPositionTime {
  margin-top: 1rem;
  font-size: 0.8rem;
  letter-spacing: 2px
}

#viewTrainingH2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 0 1rem 0;
  letter-spacing: 1px
}

#viewBox {
display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
  max-width: 1200px;
}

#stats {
  padding-top: 2rem;
}

#stats > li {
  list-style: none;
}

#mainInfo {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 130px);
  justify-items: start;
  align-items: start;
}

#mainInfo > div, .statsLive > span {
  display: block;
  font-size: 1.8rem;
  font-weight: 100;
}

#mainInfo > div > span, .statsLive {
  display: block;
  font-size: 0.8rem;
}

#statsLive {
  position: sticky;
  top: var(--header-height);
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.6);
}

.statsLive > span {
width: 5rem;
}

/*#map {*/
/*  position: sticky;*/
/*  top: var(--header-height);*/
/*}*/


